{% extends '_base.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            <h3 class="h-4">Categories</h3>
            <div class="list-group">
                <a href="{% url 'shop:product_list' %}" class="list-group-item list-group-item-action {% if not category %}active{% endif %}" aria-current="true">
                    All
                </a>
                {% for c in categories %}
                    <a href="{{ c.get_absolute_url }}" class="list-group-item list-group-item-action {% if category.slug == c.slug %}active{% endif %}">{{ c.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-10">
            <h1 class="display-5">{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
            <div class="row gy-3">
                {% for product in products %}
                    <div class="col-lg-3 col-md-4">
                        <div class="card">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_image.png' %} {% endif %}" class="card-img-top img-fluid" style="height: 200px;">
                            </a>
                            <div class="card-body">
                                <a class="text-decoration-none" href="{{ product.get_absolute_url }}"><h5 class="card-title">{{ product.name }}</h5></a>
                                <p class="card-text">${{ product.price }}</p>
                            </div>
                        </div> 
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}