{% extends '_base.html' %}
{% load static %}

{% block title %}Pay your order{% endblock title %}

{% block content %}
    <h1 class="display-5">Order summary</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
                <tr>
                    <td>
                        <img class="img-fluid" style="width: 200px" src="{% if item.product.image %}{{ item.product.image.url }} {% else %}{% static 'images/no_image.png' %}{% endif %}">
                    </td>
                    <td>{{ item.product.name }}</td>
                    <td>${{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.get_cost }}</td>
                </tr>
            {% endfor %}
            {% if order.coupon %}
                <tr>
                    <td>Subtotal</td>
                    <td colspan="3"></td>
                    <td>
                        ${{ order.get_total_cost_before_discount|floatformat:2 }}
                    </td>
                </tr>
                <tr>
                    <td class="text-danger">
                        "{{ order.coupon.code }}" coupon
                        ({{ order.discount }}% off)
                    </td>
                    <td colspan="3"></td>
                    <td class="text-danger">
                        -${{ order.get_discount|floatformat:2 }}
                    </td>
                </tr>
            {% endif %}
            <tr class="total">
                <td>Total</td>
                <td colspan="3"></td>
                <td class="num">
                ${{ order.get_total_cost|floatformat:2 }}
                </td>
            </tr>
        </tbody>
    </table>
    <form action="{% url 'payment:process' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Pay now" class="btn btn-success">
    </form>
{% endblock content %}